{%extends '1base.html'%}


{%block body%}

<div class="container">
    <a style="text-align: right;" href="/quotes">Back to dashboard</a>
    
    <div class="create mt-5" style="width: 20rem;">
        <h3>Create your Wishlist!</h3>
        <form method="post" enctype="multipart/form-data">
            {{ img_form.hidden_tag()}}
            {% for error in img_form.photo.errors%}
            <span style="color:red">{{error}}</span>
            {%endfor%}

            <div class="row justify-content-center">
                <div class="col-auto">
                    {{img_form.photo(class="form-control")}}
                </div>
                <div class="col-auto">
                    {{img_form.submit(class="btn btn-success")}}
                </div>
            </div>
        </form>
        <form action="/create-list/{{user.id}}" method="POST">
            <div class="mb-3">
                <label for="author" class="form-label">Author</label>
                <input required type="author" name="author"  class="form-control" id="author" required>
            </div>
            <div class="mb-3">
                <label for="author" class="form-label">Author</label>
                <input required type="author" name="author"  class="form-control" id="author" required>
            </div>
            <div class="mb-3">
                <label for="quote" class="form-label">Quote:</label>
                <textarea required type="text" name="quote" class="form-control" id="quote"  rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {%if filename%}
        <div class="mt-5">
            <img src="{{url_for('static',filename=filename)}}" alt="" style="width: 200px;">
        </div>
        {%endif%}
    </div>

</div>

{%endblock%}