{%extends '1base.html'%}


{%block body%}

<div class="container">
    <a style="text-align: right;" href="/dashboard">Back to dashboard</a>
    <div class="row">
        <div class="product-view col-6">
            <img src="{{product.img_url}}" alt="{{product.description}}" class="pv-img" style="width: 20rem;">
            <h3 class="pv-name">{{product.product_name}}</h5>
            <p class="pv-brand">Store: {{product.brand}}</p>
            <p class="pv-price">Price: s/.{{product.price}}</p>
        </div>
        <div class="add-pv-form col-6">
            <h6 class="add-pv-subtitle">Add to wishlist...</h6>
            <form action="/add/{{product.id}}" method="post">
                <select name="wishlist_id" id="wishlist_id">
                    <option disabeled>Select one of your wishlists</option>
                    {%for list in creator.lists%}
                    <option value="{{list.id}}">{{list.name}}</option>
                    {%endfor%}
                </select>
                <button type="submit">Add</button>
            </form>
        </div>
    </div>
    

</div>

{%endblock%}