{%extends '1base.html'%}


{%block body%}

<div class="container">
    <a class="btn btn-primary mb-3"style="text-align: right;" href="/dashboard">Back to dashboard</a>
    <h3 style="font-size: 5rem;">Add a Product</h3>
    <p class="wlist-description"> This product will be added to "{{wlist.name.upper()}}"</p>
    <div class="row">
        <div class="col-4">
            <div class="create mt-5" style="width: 20rem;">
                <form action="/create-product/{{list_id}}" method="POST">
                    <div class="mb-3">
                        <label for="product_name" class="form-label">Product Name</label>
                        <input required type="text" name="product_name"  class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="link" class="form-label">Copy product link:</label>
                        <input required  type="link" name="link"  class="form-control" placeholder= "Tell people more about this product!" >
                    </div> 
                    <div class="mb-3">
                        <label for="brand" class="form-label">Brand:</label>
                        <input required  type="brand" name="brand"  class="form-control" placeholder= "Tell people more about this product!" >
                    </div> 
                    <div class="mb-3">
                        <label for="img_url" class="form-label">Img url</label>
                        <input required  type="text" name="img_url"  class="form-control" placeholder= "Paste img url" >
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <input  type="text" name="description"  class="form-control" placeholder= "Write a short description" >
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Price:</label>
                        <input  type="number" name="price"  class="form-control" id="author" required>  
                    </div>  <!--VALIDAR PRECIO COMO INT MAYOR A 0-->
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                
            </div>
        </div>
        <div class="col-8 create-demo">
            <img src="{{ url_for('static', filename='create_demo.png') }}" alt="create_demo" style="width: 60%;" class="demo-img">
        </div>
    </div>
</div>

{%endblock%}