{% extends '1base.html' %}
{%block body%}
<div class="container pt-5">
    <div class="row">
        <div class="col-7 dashboard-lists-section">
            <div class="add-section">
                <a href="/create-list/{{user.id}}" class="add-link">
                    + Add a new list!
                </a>
            </div>
            <h1 class="section-title">
                See what other users are registering...
            </h1>
            <div class="my-row">
                {%for product in op%}
                <div class="other-post-box">
                    <img src="{{product.img_url}}" alt="product_picture" class="product-pic"></img>
                    <p class="post-title">{{product.product_name}}</p>
                    <p class="post-creator">Created by: <a href="/profile/{{product.creator.id}}">{{product.creator.first_name}} {{product.creator.last_name}}</a></p>
                    <a href="{{product.link}}" target="_blank" class="product-link">See in shop</a>
                    <div class="product-add">
                        <a href="/add/{{product.id}}"><ion-icon name="heart-circle-outline" class="add-icon"></ion-icon> </a>
                        <a href="/add/{{product.id}}"></a><p class="add-text">Add to wishlist</p></a>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
        <div class="col-5">
            <div class="dashboard-profile-section">
                <div class="profile-box row">
                    <div class="user-pic-info col-4">
                        {%if not user.profile_url or user.profile_url == ''%}
                        <ion-icon name="person-circle-outline" style="font-size:8rem;"></ion-icon>
                        {%else%}
                        <img class="profile-pic" src="{{user.profile_url}}" alt="profile_picture">
                        {%endif%}
                    </div>
                    <div class="user-other-info col-8">
                        <h2 class="user-name-info">
                            {{user.first_name}} {{user.last_name}}
                        </h2>
                        <div class="user-main-info">
                            <p>Wishlists: {{creator.list_count}}</p>
                            <p>Products: {{creator.created_product_count}} </p>
                        </div>
                        <div class="user-links">
                            <a href="/profile/{{user.id}}" >
                                <ion-icon style="font-size: 1.5rem;"  name="eye-outline" ></ion-icon>
                            </a>
                            <p style="font-size: 0.5rem;">View Profile</p>
                            <a href="/edit-profile/{{user.id}}" >
                                <ion-icon name="cog-outline" style="font-size: 1.5rem;" ></ion-icon>
                            </a>
                            <p style="font-size: 0.5rem;">Edit Profile</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="user-main-saved">
                <div class="user-main-lists">
                    <h3 class="user-main-subtitle">Your Wishlists</h3>
                    {%if creator.lists|length == 0%}
                    <div class="wishlist-box mb-2 p-4 bg-light">
                        <p>You dont have any wishlists yet...</p>
                    </div>
                    {%endif%}
                    <!--For Loop con wishlists del usuario-->
                    {%for list in creator.lists%}
                    <div class="wishlist-box">
                        <a href="/list/{{list.id}}" class="list-img-link">
                            <img src="{{list.img_url}}" alt="wishlist-img" class="list-img" >
                        </a>
                        <div class="list-info-col">
                            <a href="/list/{{list.id}}" class="list-title">{{list.name}}</a>
                            <p class="list-description">{{list.description}}</p>
                            <p class="list-product-count">Products: {{list.product_count}}</p>
                        </div>
                    </div>
                    {%endfor%}
                </div>
                <div class="user-participating-lists">
                    <h3 class="user-main-subtitle">Wishlist you're in</h3>
                    {%if creator.participating_lists|length == 0%}
                    <div class="wishlist-box mb-2 p-4 bg-light">
                        <p>You dont have any wishlists yet...</p>
                    </div>
                    {%endif%}
                    <!--For Loop con wishlists del usuario-->
                    {%for list in creator.participating_lists%}
                    <div class="wishlist-box">
                        <a href="/list/{{list.id}}" class="list-img-link">
                            <img src="{{list.img_url}}" alt="wishlist-img" class="list-img">
                        </a>
                        <div class="list-info-col">
                            <a href="/list/{{list.id}}" class="list-title">{{list.name}}</a>
                            <div class="list-description"></div>
                            <p class="list-product-count">Products: {{list.product_count}}</p>
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>
            
            
        </div>
    </div>

    
</div>

{%endblock%}