{%extends '1base.html'%}


{%block body%}

<div class="container">
    <a style="text-align: right;" href="/dashboard">Back to dashboard</a>
    <div class="row">
        <div class="create col-5" style="width: 20rem;">
            <h3>Edit product</h3>
            <form action="/edit-product/{{product.id}}" method="POST">
                <div class="mb-3">
                    <label for="product_name" class="form-label">Product Name</label>
                    <input value={{product.product_name}} required type="text" name="product_name"  class="form-control" id="author" required>
                </div>
                <div class="mb-3">
                    <label for="link" class="form-label">Copy product link:</label>
                    <input value={{product.link}} required  type="link" name="link"  class="form-control" id="author"  >
                </div> 
                <div class="mb-3">
                    <label for="brand" class="form-label">Brand:</label>
                    <input value={{product.brand}} required  type="brand" name="brand"  class="form-control" id="author">
                </div> 
                <div class="mb-3">
                    <label for="img_url" class="form-label">Img url</label>
                    <input value={{product.img_url}} required  type="text" name="img_url"  class="form-control" id="author"  >
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input value={{product.description}}  type="text" name="description"  class="form-control" id="author" >
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price:</label>
                    <input value={{product.price}}  type="number" name="price"  class="form-control" id="author" required>  
                </div> 
                <button type="submit" class="btn btn-primary">Edit</button>
            </form>
            
        </div>
        <div class="product-view col-6">
            <img src="{{product.img_url}}" alt="{{product.description}}" class="pv-img" style="width: 20rem;">
            <h3 class="pv-name">{{product.product_name}}</h5>
            <p class="pv-brand">Store: {{product.brand}}</p>
            <p class="pv-price">Price: s/.{{product.price}}</p>
        </div>
    </div>

</div>

{%endblock%}