{%extends '1base.html'%}


{%block body%}
<div class="container">
    {%if user.id != wlist.creator.id and wlist.privacy == 'private' and permission != True%}
    <h3 style="font-size: 5rem;" class="private-wishlist-title">This is a private Wishlist</h3>
    <p class="wishlist-creator mb-3">Created by: {{wlist.creator.first_name}} {{wlist.creator.last_name}}</p>
        {%if requested == True%}
        <a href="#" class="join-wishlist btn btn-primary mb-2" style="background-color: brown;">Pending aproval...</a>
        <p style="color: brown;">Hmm... Seems like you already requested to be in this list!</p>
        {%else%}
        <div class="private-wishlist-msg"> Oh! It looks like this wishlist is private, would you like to join it?</div>
        <a href="/join/{{wlist.id}}/" class="join-wishlist btn btn-request mb-3">Request to join</a>
        {%endif%}
    {%else%}
    <div class="row">
        <div class="col-7 wishlist-content">
            <div class="sl-wishlist-box">
                <img class="sl-img-block" src="{{wlist.img_url}}"></img>
                <div class="wishlist-main-inf-cont">
                    <h2  class="wlist-name">{{wlist.name}}</h2>
                    <p class="wlist-description">{{wlist.description}}</p>
                    <p class="wlist-description">Created by: <a href="/profile/{{wlist.creator.id}}"> {{wlist.creator.first_name}} {{wlist.creator.last_name}}</a></p>
                    <p  class="wlist-description">{{wlist.text}}</p>
                    <p class="wlist-description">
                        This wishlist ends on... {{wlist.end_date}}
                    </p>
                </div>
            </div>
            <div class="wlist-products-box">
                {%for product in wlist.products%}
                <div class="product-box sl-product-box">
                    <div class="box-img">
                        <img src="{{product.img_url}}" alt="{{product.product_name}}" class="product-img" >
                    </div>
                    <div class="box-info">
                        <h3 class="product-name">{{product.product_name}}</h3>
                        <p class="product-price">s/.{{product.price}}.00</p>
                        <a href="{{product.link}}"  target="_blank" class="product-link" >See in shop</a>
                        {%if product.status != 'bought'%}
                        <a class="buy-section" href="/buy/{{wlist.id}}/{{product.id}}/{{user.id}}"> 
                            <ion-icon name="cart-outline" class="cart-icon"></ion-icon> Buy for {{wlist.creator.first_name}}
                        </a>
                        {%else%}
                        <p>Product already purchased!</p>
                        {%endif%}
                        {%if wlist.creator_id == user.id%}
                        <div class="modify-product-links">
                            <a href="/delete-product/{{wlist.id}}/{{product.id}}">Delete</a>
                            {%if product.creator_id == user.id%}
                            <a href="/edit-product/{{product.creator_id}}/{{product.id}}">Edit</a>
                            {%endif%}
                        </div>
                        {%endif%}
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
        {%if wlist.creator_id == user.id%}
        <div class="col-1">
            <a href="/edit/{{wlist.id}}">
                <ion-icon name="cog-outline" style="font-size: 2rem;"></ion-icon>
            </a>
        </div>
        {%endif%}
        <div class="col-4 wishlist-features">
            {%if wlist.creator.id == user.id%}
            <div class="add-sl-product">
                <a href="/create-product/{{wlist.id}}" class="btn btn-primary" style="padding:1rem; font-size:1.2rem">+ Add a product</a>
            </div>
            <div class="participant-requests">
                <div class="part-req-box">
                    <h3 class="requests-title">Wishlist requests:</h3>
                    {%if wlist.requests|length == 0%}
                    <p class="wlist-description">You have no requests</p>
                    {%else%}
                        {%for request in wlist.requests%}
                        <div class="request-box">
                            <p class="request-user wlist-description">{{request.first_name}} {{request.last_name}}</p>
                            <a href="/respond-request/{{request.id}}/{{wlist.id}}/accepted" class="accept-request">Accept</a>
                            <a href="/respond-request/{{request.id}}/{{wlist.id}}/declined" class="decline-request">Decline</a>
                        </div>
                        {%endfor%}
                    {%endif%}
                </div>
            {%endif%}
                <div class="part-req-box">
                    <h3 class="requests-title">Participants in this wishlist: </h3>
                    {%if wlist.participants|length == 0%}
                    <p>No participants in this list</p>
                    {%endif%}
                    {%for participant in wlist.participants%}
                    <div class="added-participant">
                        <ion-icon name="person-circle-outline"></ion-icon>
                        <a href="/profile/{{participant.id}}" class="request-user wlist-description">{{participant.first_name}} {{participant.last_name}}</a>
                        {%if participant.id == user.id%}
                        <a href="/leave/{{wlist.id}}/{{user.id}}" class="sl-leave-link">Leave list</a>
                        {%endif%}
                    </div>
                    {%if user.id != wlist.creator.id and permission != True and requested != True%}
                        <a href="/join/{{wlist.id}}/" class="join-wishlist btn btn-request">Request to join</a>
                    {%endif%}
                    {%if requested%}
                        <a href="#" class="join-wishlist btn btn-primary" style="background-color: brown;">Pending aproval...</a>
                    {%endif%}
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
    {%endif%}

</div>


{%endblock%}

<script>
    
</script>