{%extends '1base.html'%}
{%block body%}

<div class="row p-3">
    <div class="col-6">
    </div>
    <div class="col-6"  style="text-align: right;">
        <a href="/quotes">Back to dashboard</a>
    </div>
</div>
<div class="container">
    <h2>{{user_quotes[0].creator.first_name}} {{user_quotes[0].creator.last_name}}</h2>
    <p>Quote count: {{quote_count}}</p>
    {%for quote in user_quotes%}
    <div class="card p-4 mb-3 mt-3">
        <h5>{{quote.author}}</h5>
        <p>"{{quote.quote}}"</p>
        <p>Posted on: {{quote.created_at}}</p>
        
    </div>
    {%endfor%}
</div>
{%endblock%}