{% extends '1base.html' %}
{%block body%}
<div class="container">
    <div class="dashboard-profile-section">
        <div class="profile-box row">
            <div class="user-pic-info col-4">
                <img class="profile-pic" src="{{creator.profile_url}}" alt="profile_picture">
            </div>
            <div class="user-other-info col-8">
                <h2 class="user-name-info">
                    {{creator.first_name}} {{creator.last_name}}
                </h2>
                <div class="user-main-info">
                    <p>Wishlists: {{creator.list_count}}</p>
                    <p>Products: {{creator.created_product_count}} </p>
                </div>
                {%if user.id == creator.id%}
                <div class="user-links">
                    <a href="/edit-profile/{{user.id}}" >
                        <ion-icon name="cog-outline" style="font-size: 1.5rem;" ></ion-icon>
                    </a>
                    <p style="font-size: 0.5rem;">Edit Profile</p>
                </div>
                {%endif%}
            </div>
        </div>

    </div>
    <div class="row">

        <div class="wishlist-section-profile col-7">
            <div class="user-main-saved">
                <div class="user-main-lists">
                    <h3 class="user-main-subtitle">Wishlists</h3>
                    <!--For Loop con wishlists del usuario-->
                    {%for list in creator.lists%}
                    <div class="wishlist-box">
                        <a href="/list/{{list.id}}" class="list-img-link">
                            <img src="{{list.img_url}}" alt="wishlist-img" class="list-img-profile" >
                        </a>
                        <div class="list-info-profile">
                            <a href="/list/{{list.id}}" class="list-title">{{list.name}}</a>
                            <p class="list-description">{{list.description}}</p>
                            <p class="list-product-count">Products: {{list.product_count}}</p>
                        </div>
                    </div>
                    {%endfor%}
                </div>
                <div class="user-participating-lists">
                    <h3 class="user-main-subtitle">Participating in</h3>
                    {%for list in creator.participating_lists%}
                    <div class="wishlist-box">
                        <a href="/list/{{list.id}}" class="list-img-link">
                            <img src="{{list.img_url}}" alt="wishlist-img" class="list-img-profile">
                        </a>
                        <div class="list-info-profile">
                            <a href="/list/{{list.id}}" class="list-title">{{list.name}}</a>
                            <p class="list-description">{{list.description}}</p>
                            <p class="list-product-count">Products: {{list.product_count}}</p>
                            {%if user.id == creator.id%}
                            <a href="/leave/{{list.id}}/{{user.id}}" class="leave-list-link">Leave list</a>
                            {%endif%}
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>
        <div class="product-section-profile col-4">
            <h3 class="user-main-subtitle">Created Products</h3>
            <div class="profile-product-row">
                {%for product in user_products%}
                <div class="product-box">
                    <div class="box-img">
                        <img src="{{product.img_url}}" alt="product_picture" class="product-pic"></img>
                    </div>
                    <div class="box-info">
                        <p class="post-title">{{product.product_name}}</p>
                        <p class="post-creator">Created by: <a href="/user/{{product.creator.id}}">{{product.creator.first_name}} {{product.creator.last_name}}</a></p>
                        <a href="{{product.link}}" target="_blank" class="product-link">See in shop</a>
                        {%if user.id != creator.id%}
                        <div class="product-add">
                            <ion-icon name="heart-circle-outline" class="add-icon"></ion-icon> 
                            <p class="add-text">Add to wishlist</p>
                        </div>
                        {%endif%}
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
    
    
</div>

{%endblock%}